html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas-container {
  position: relative;

}

canvas {
  position: fixed;
  left: 0px;
  top: 0px;
}

#dot-canvas {
  z-index: 0;
}

#line-canvas {
  z-index: 1;
}

#fileInput {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
}